<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="~/js/jquery-2.1.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-3.3.2.min.js"></script>

    <!-- Include the plugin's CSS and JS: -->
    <script type="text/javascript" src="~/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" type="text/css" />
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var $select = $("#marketRegion").multiselect({
                includeSelectAllOption: true,
                enableFiltering: true
            });
            $select.multiselect('disable'); //disable it initially

            $.ajax({
                type: "GET",
                url: "https://localhost:5363/api/market",
                data: "{}",
                success: function (data) {
                    console.log(data);
                    $('#marketRegion').multiselect('enable');
                    $('#marketRegion').empty();
                    if (data.length == 0) {
                        $('#marketRegion').append("<option class='text-danger' value='0' disabled> No Projects under this Chief.</option> ");
                        $('#marketRegion').append("<option class='text-danger' value='0' disabled> Enter the Project manually.</option> ");
                    }
                    else {
                        var i;
                        for (i = 0; i < data.length; i++) {
                            var option = "<option value='" + data[i].market + "'>" + data[i].market + " </option>";
                            $('#marketRegion').append(option);
                        }
                        $("#marketRegion").attr('multiple', 'multiple');
                        $("#marketRegion").multiselect('rebuild');
                    }
                },
                error: function () {
                    alert("Error");
                }
            });
        });

        $(function () {
            $("#keyword").autocomplete({
                source: function (request, response) {
                    var selected = [];
                    $("#marketRegion :selected").each(function () {
                        selected.push("\""+this.value+"\"");
                    });
                    console.log(selected);

                    var postData = "{\"indexName\": \"\",\"keyword\": \"" + request.term.toLowerCase() + "\",\"limit\": 25," +
                        "\"market\": [" + selected + "]}";
                    
                    console.log(postData);
                    $.ajax({
                        url: "https://localhost:5363/api/search",
                        method: "POST",
                        crossDomain: true,
                        dataType: "JSON",
                        contentType: "application/json; charset=utf-8",
                        data: postData,

                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,
                                    id: item.market
                                }
                            }));
                        },
                    });
                },
                minLength: 1
            })
        });
    </script>
</body>
</html>
